:root {
    --purple-navy: #474779;
    --blue-jeans: #00A6FB;
    --outrageous-orange: #FC7753;
    --naples-yellow: #F9DC5C;
    --mint-cream: #F4FFFD;
}

.color1 {
    background-color: var(--purple-navy);
    color: white;
    padding: 1%;
}

.color2 {
    background-color: var(--blue-jeans);
    color: white;
    padding: 1%;
}

.color3 {
    background-color: var(--outrageous-orange);
    color: white;
    padding: 1%;
}

.color4 {
    background-color: var(--naples-yellow);
    color: white;
}

.iconosaac {
    height: 25%;
}

.sectionicon {
    background-color: var(--naples-yellow);
}